<div class="item">
  <i class="write icon"></i>
  <div class="content">
    <a class="header" href="/home/<%= courseName %>/<%= sign.signName %>"><%= sign.signName %></a>

      <div class="meta">
        <span class="cinema">开始时间：<%=sign.st %></span>
      </div>
      <div class="meta">
        <span class="cinema">结束时间：<%=sign.et %></span>
      </div>
      <div class="description">
        <p hidden><%= sign.courseName %></p>
      </div>
  </div>
 </div>